* {
  margin: 0px;
  padding: 0px;
}

th, td {
  border: 3px solid black;
}

.table {
  position:absolute;
  left:50%;
  top:50%;
  margin:-250px 0 0 -270px;
  border-collapse: collapse;
  width: 500px;
  height: 540px;
  border: 4px solid white;
}
