@font-face {
    font-family: 'Tahoma-Bold';
    src: url('../fonts/tahoma_bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/tr_tahoma_regular-webfont.eot');
    src: url('../fonts/tr_tahoma_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tr_tahoma_regular-webfont.woff2') format('woff2'),
         url('../fonts/tr_tahoma_regular-webfont.woff') format('woff'),
         url('../fonts/tr_tahoma_regular-webfont.ttf') format('truetype'),
         url('../fonts/tr_tahoma_regular-webfont.svg#tr_tahomaregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
  font-family: Tahoma, sans-serif;
  background-image: url(../img/background1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main {
  overflow: hidden;
  background-image: url(../img/menu-back.jpg);
}

.main-menu {
  float:right;
  padding-top: 8px;
  padding-bottom: 10px;
}

.main-menu li {
  display: inline;
  padding-top: 8px;
  padding-bottom: 10px;
}

.main-menu li a{
  text-decoration: none;
  color: #60b5ed;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 14px;
}

.main-menu li a:hover {
  color: white;
  font-family: Tahoma, sans-serif;
}

.main-menu li:hover {
  background-color: #60b5ed;
  color: white;
}

.main-menu li a:active {
  color: white;
  font-family: Tahoma, sans-serif;
}

.main-menu li:active {
  background-color: #60b5ed;
}

.main-menu .main-menu-active a {
  color: white;
  font-family: Tahoma, sans-serif;
}

.main-menu .main-menu-active {
  background-color: #60b5ed;
}

.main-submenu .flag {
  position: relative;
  top: 10px;
  right: 16px;
  padding-left: 10px;
}

.main-submenu .ride {
padding-right: 5px;
padding-left: 10px;
position: relative;
top: 1px;
}

.main-submenu {
  float: right;
  margin-right: 25px;
}

.main-submenu li {
  display: inline;
  color: white;
  position: relative;
  bottom: 9px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
}

.main-submenu li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.main-submenu .main-submenu-active {
  border: 1px solid #51b0dc;
  background: rgba(81,176,220,1);
  background: -moz-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,176,220,1)), color-stop(100%, rgba(46,121,196,1)));
  background: -webkit-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: -o-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: -ms-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: linear-gradient(to bottom, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e79c4', GradientType=0 );
}

.main-submenu li:hover {
  border: 1px solid #51b0dc;
  background: rgba(81,176,220,1);
  background: -moz-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,176,220,1)), color-stop(100%, rgba(46,121,196,1)));
  background: -webkit-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: -o-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: -ms-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  background: linear-gradient(to bottom, rgba(81,176,220,1) 0%, rgba(46,121,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e79c4', GradientType=0 );
}

.main-form {
  position: absolute;
  top:33.3%;
  left:33.3%;
  width: 560px;
  background: rgba(0, 0, 0, 0.5);
}

.main-form p.header {
  padding-top: 18px;
  padding-bottom: 20px;
  border-bottom: 3px solid #bbc3b4;
  color: white;
  font-size: 24px;
  text-align: center;
}

.main-form img {
  display: block;
  margin: auto;
  padding-top: 32px;
}

.main-win {
  padding-top: 28px;
}

.main-win input {
  display: block;
  margin: auto;
  width: 255px;
  height: 35px;
  border: none;
  border-bottom: 1px solid gray;
  color: #cccccc;
  background-color: #0f0f0f;
  font-size: 14px;
  /*padding-top: 12px;
  padding-bottom: 9px;*/
  margin-bottom: 13px;
  padding-left: 17px;
}

.main-win input:focus {
  background-color: #1b5288;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(96,134,170,1);
  -moz-box-shadow: 0px 0px 12px 4px rgba(96,134,170,1);
  box-shadow: 0px 0px 12px 4px rgba(96,134,170,1);
  /*box-shadow: inset 0px 0px 20px 0px rgba (0, 0, 0, 1);*/
}

.check {
  margin-left: 141px;
  padding-top: 4px;
}

.check span {
  color: #cccccc;
  font-size: 14px;
}

.botton {
  margin-left: 206px;
  margin-top: 23px;
}

p.describe {
  color: #cccccc;
  text-align: center;
  line-height: 1.5;
  font-size: 11px;
  padding-top: 16px;
  padding-bottom: 15px;
}
